@import 'nib'

icon_bg()
  background-image url( join('', './', substr(selector(), 1), '.svg') )

.nestable-icon
  position relative
  display inline-block
  width 20px
  height 20px
  background-color transparent
  background-position center center
  background-repeat no-repeat
  &:before
    content '-'
    display inline-block
    width 0
    height 0
    overflow hidden

/* 20x20 */
$icons20x20 = icon-plus-gray, icon-minus-gray

for $class in $icons20x20
  .{$class}
    size(20px)
    icon_bg()
